/* Ordenado por abecedario */

a {
    text-decoration: none;
}

.alignCenter {
    margin-left: 35%;
    margin-top: 
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

#aLogo {
    background-color: #FFFFFF;
}

.anuncio{
    font-family: roboto;
    font-weight: 2em;
}

.footer {
    background-color: #efefef;
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    position: fixed;
    right: 0;
    text-align: center;
  }

.header{
    display: inline;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 10px;
}

.horizontal a {
    background-color: #98bf21;
    color: #ffffff;
    margin: 0;
    padding: 4px;
    text-align: center;
}

.horizontal a:hover, .horizontal a:active {
    background-color: #7a991A;
}

.horizontal li {
    float: left;
    margin: 0;
    padding: 0;
}

.imagenes{
    float: left;
}

#logo{ /* el tamaño del logo al 5% va bastante bien pero el menu se descuadra*/
    height: 50px;
    margin-left: 10px;
    width: 50px;
}

main{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
}
/*
.menu {
    float: right;
}*/

.no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#psw {
    font-size: 50%; este no hace nada
}