cambios de carlos
cambios de marcos
yyeyeyeybbjkbkj
cambios 2.0



.hola {
    postion;
}

<<<<<<< HEAD
.clase {
    propiedad: 36cm;
    miembro: 50cm;
}
=======
.clase{
    propiedad: 24cm;
    retraso: 100%;
}
>>>>>>> a85b84d850a81b23b2f6570b788b50e274abb813
